@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.time_box {
  text-align: center;
  .full_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
  }
  .full-icon {
    position: absolute;
    right: 24px;
    bottom: 36px;
    font-size: 32px;
  }
  &_time {
    font-size: 100px;
    font-weight: bold;
    min-height: 130px;
    padding: 24px;
    position: relative;
    .top_icon {
      position: absolute;
      width: 50px;
      height: 50px;
      margin-top: -12%;
      left: 26%;
    }
  }
  &_setting {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    .icon {
      font-size: 34px;
      width: 34px;
      height: 34px;
    }
  }
}
