/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "阿里妈妈方圆体 VF Regular";
  src:
    url("../assets/fonts/iconfont.woff2") format("woff2"),
    url("../assets/fonts/iconfont.woff") format("woff");
  font-display: swap;
}

// @font-face {
//   font-family: "Iconfont";
//   /* 自行安装第三方字体图标库 */
//   // src: url("./assets/fonts/iconfont.eot?v=1.0.0");
//   src:
//     url("./assets/fonts/iconfont.woff2?v=1.0.0") format("woff2"),
//     url("./assets/fonts/iconfont.woff?v=1.0.0") format("woff"),
//     url("./assets/fonts/iconfont.ttf?v=1.0.0") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

/* 根据第三方字体图标库编写 */

/* 举例：icon 就是 prefixClass 的值，下面的的图标 css class 命名都要用 icon- 开头  */

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 Iconfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-navigate:before {
  content: "\e61d";
}

.icon-calling:before {
  content: "\e604";
}

.icon-call:before {
  content: "\e718";
}

.icon-address:before {
  content: "\e681";
}

.icon-favor:before {
  content: "\e602";
}

.icon-favor-fill:before {
  content: "\e8fb";
}

.icon-shopping:before {
  content: "\e67b";
}

.icon-sound:before {
  content: "\e67a";
}

.icon-room:before {
  content: "\e678";
}

.icon-qrcode:before {
  content: "\e677";
}

.icon-navigate-fill:before {
  content: "\e696";
}

.icon-call-fill:before {
  content: "\e628";
}

.icon-minus:before {
  content: "\e601";
}

.icon-plus:before {
  content: "\e620";
}

.icon-help:before {
  content: "\e62a";
}

.icon-address-fill:before {
  content: "\e80b";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-arrow-up:before {
  content: "\e66b";
}

.icon-arrow-down:before {
  content: "\e66c";
}

.icon-checked:before {
  content: "\e661";
}

.icon-delete:before {
  content: "\e600";
}

.icon-time:before {
  content: "\e65d";
}

.icon-un-checked:before {
  content: "\e8bb";
}

.icon-add:before {
  content: "\e8c0";
}

.icon-scan:before {
  content: "\e663";
}

.icon-close:before {
  content: "\e665";
}

.icon-search:before {
  content: "\e667";
}

.icon-arrow-left:before {
  content: "\e66a";
}
.icon-shopping2:before {
  content: "\e687";
}

.icon-zan:before {
  content: "\e686";
}

.icon-cai:before {
  content: "\e685";
}

.icon-edit:before {
  content: "\e6d5";
}

.icon-car:before {
  content: "\e605";
}

.icon-eat:before {
  content: "\e603";
}
.icon-dinner:before {
  content: "\e606";
}
.icon-express:before {
  content: "\e607";
}
