$primary-color: #d4237a; // 主色

$border-color: #dddddd; // 灰色边框
$price-color: #FE006B; // 红色价格
$link-color: #0374ff; // 蓝色链接
$gray-color: #A4A4A6; // 灰色字体

$pageBg-color: #18171D; // 页面灰色背景
$block-color:#272831;// 模块灰色背景

$wrap: 32px; // 页间距
$radius: 32px; // 圆角

// 图片根地址
$path: "./assets/images";

// $logo-url: $path + "/logo.png" + $STAMP;
// $default-bg: $path + "/my_top.png" + $STAMP; //默认背景图
// $active-bg: $path + "/active-bg.png" + $STAMP; //active图
// $cpmodal-bg-url: $path + "/icon/cp-modal-bg-v2.png" + $STAMP; //彩票弹窗背景图

