@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.home {
  .bg_img{
    width: 500px;
    height: 500px;
    bottom: -10px;


  }
  .menu_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px;
    .menu_item {
      width: 49%;
      position: relative;
      color: #fff;
      font-weight: 600;
      image,
      img {
        width: 100%;
        height: 100%;
      }
      .label {
        position: absolute;
        top: 38%;
      }
    }
  }
}
