
@import "@/styles/theme.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/progress.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.dateTime{
  font-size: 120px;
  height: 336px;
  padding: 100px 32px;
  text-align: center;
  line-height: 336px;
}

.countdown_box {
  height: 336px;
  padding:  100px 32px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  &_item {
    display: flex;
    flex: 1;
    justify-items: center;
    text-align: center;
    .number_value {
      flex: 1;
      margin: auto;
    }
    .text{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .number_act{
      color: #fff;
    }
    .label {
      flex: 1;
      margin: auto;
      color: #fff;
    }
  }
  .show_box{
    position: absolute;
    background-color: #ffffff2c;
    height: 100px;
    width: calc(100% - 64px);
    border-radius: 18px;
    margin-top: calc(25% - 75px);
  }

  .swiper_box{
    &_item{
      // margin-top: 25%;
    }
  }
}


.btn_box{
  display: flex;
  .btn{
    flex: 1;
    margin: 0px 32px;
  }
}
