.countdown_box {
  padding:  100px 32px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  &_item {
    display: flex;
    flex: 1;
    justify-items: center;
    text-align: center;
    .number {
      flex: 1;
      margin: auto;
    }
    .label {
      flex: 1;
      margin: auto;
    }
  }

  .swiper_box{
    &_item{
      // margin-top: 25%;
    }
  }
}
