@import "./styles/theme.scss";
@import "./styles/font.scss";

page {
  background: $pageBg-color;
  color: #a4a4a6;
}

// 表单-固定弧形背景
.form-block-bg {
  margin: 32px 32px 0;
  background: $block-color;
  border-radius: $radius;
  padding: 24px 24px;
}


// .at-switch {
//   background-color: $block-color !important;
//   &__title{
//     color: #fff;
//   }
//   &__container {
//     // background-color: $block-color !important;
//   }
// }

